@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora";
}

body {
  color: #000 !important;
  cursor: none;
}

a {
  text-decoration: none;
}

:root {
  --header-font: "Sora", sans-serif;
  --text-font: "Sora", sans-serif;
  --header-color: #dd0000;
  --text-color: #000;
}


/*Hero Start*/

#hero{
    padding-top: 200px;
    padding-bottom: 100px;
    background-image: linear-gradient(to right, #FFFFFF, #FFDCDC);
}
.hero-title-img{
    width: 70%;

}
.hero-title-img img{
    width: 100%;
    aspect-ratio: 3/1 !important;
}
.hero-content-text{
    padding: 30px 50px 50px 0px;

}
.hero-content-text p{
    font-size: 17px;
    line-height: 30px;
    text-align: justify;
}
.ui-price{
    padding-left: 50px;
    font-size: 17px;
    font-weight: 600;

}
.hero-content button{
    padding: 10px 25px;
    border: none;
    border-radius: 30px;
    background-image: linear-gradient(to bottom right, #DD0606, #FF9696);
    font-size: 15px;
    color: #fff;
    font-weight: 500;
}
.hero-content button svg{
    height: 13px;
    width: 13px;
}
.hero-img{
    display: flex;
    justify-content: right;
    align-items: center;
}
.hero-img img{
    width: 100%;
    aspect-ratio: 5/3;
}
.course-ditails{
    margin-top: 50px;
    padding: 25px;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(to right, #FFDCDC, #FFFFFF);
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
}

.course-start p{
    margin: 0px;
}
.course-start p svg{
    width: 35px;
    height: 35px;
}
.course-class-day p svg{
    width: 35px;
    height: 35px;
}
.course-time p svg{
    width: 35px;
    height: 35px;
}
.course-class-day p{
    margin: 0px;

}
.course-time p{
    margin: 0px;
}
.course-start,
.course-time,
.course-class-day{
    text-align: center;

}
.course-day{
    padding-top: 10px;
    font-size: 15px;
    font-weight: 600;
}
@media screen and (max-width: 550px) {
    .hero-content-text{
        padding: 30px 10px 50px 0px;
    }
    
}
@media screen and (max-width: 991px) {
    #hero{
        padding-top: 100px;
    }
    .hero-img{
        padding-top: 50px;
        justify-content: center;
    }
    .hero-img img{
        margin: 20px;
    }
    .course-time{
        padding-top: 30px;
    }
    .course-class-day{
        padding-top: 30px;
    }
    
    
}
/* Hero End*/




/* Taught in the Course Start*/
.taught-h2{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    padding-top: 70px;
}
.taught-h2 span{
    color: #DD0000;
}
.divider{
    max-width: 240px;
    height: 5px;
    margin: auto;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    background-image: linear-gradient(to bottom right, red, rgb(230, 161, 161));
}
.taught-course-figma-adobe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 250px;
    margin: auto;
    margin-top: 60px;
    
    /* border: 1px solid red; */
}
.figma-img img{
    width: 50px;
    aspect-ratio: 1/1;
    
    
    

}
.figma-img{
    padding: 17px;
    border: none;
    border-radius: 50%;
    background-color: #FFD8D8;
    
}
.figma h5{
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    padding-top: 20px;
}
/*Taught in the Course End*/



/*Course Features Start*/
.course-features-heading{
    text-align: center;
    padding-top: 50px;
    
}
.course-title{
    font-size: 30px;
    display: inline;
    position: relative;
    font-weight: 600;
    
}
.course-title::after{
    content: "";
    position: absolute;
    left: 20%;
    right: 20% !important;
    bottom: -30px;
    width: 60%;
    height: 5px;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to bottom right, red, rgb(230, 161, 161));


}
.course-features-cards{
    padding-top: 100px;
}
.course-features-card{
    width: 100%;
    text-align: center;
    border: 1px solid rgb(241, 241, 241);
    padding: 15px;
    border-radius: 5px;
    position: relative;
    background-color: #fff;
    margin-bottom: 30px;

}
.course-features-card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #e7e7e7;
    border-radius: 5px;
    top: 0;
    left: 0;
    z-index: -9;
    /* animation: bouncing 2s linear infinite; */
}
.course-features-card:hover::before{
    animation: bouncing 2s linear infinite; 
}
@keyframes bouncing {
   0% {
      transform: scale(1);
      opacity: 1;
    }
  
    100% {
      transform: scale(1.1, 1.2);
      opacity: 0;
    }
}
.course-features-card svg{
    width: 60px;
    height: 60px;
}
.course-features-card h6{
    font-size: 20px;
    font-weight: 700;
    padding: 10px 0px;
    margin-bottom: 0px;
}
.course-features-card p{
    padding: 0px 30px;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
}
@media screen and (max-width: 1150px) {
    .course-features-card p{
        padding: 0px 10px;
    }
    
}
/* Course Features End*/



/*Who Is This Course For Start*/
.who-course-for-heading{
    text-align: center;
}
.who-course-for-heading h2{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    display: inline;
    position: relative;

}
.who-course-for-heading h2::after{
    content: "";
    position: absolute;
    left: 30%;
    /* right: 20% !important; */
    bottom: -30px;
    width: 45%;
    height: 5px;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to bottom right, red, rgb(230, 161, 161));

}
#who-course-for{
    
}
.who-course-for-cards{
    padding-top: 100px;
}
.who-course-for-card{
    width: 100%;
    text-align: center;
    padding: 15px;
    margin-bottom: 30px;
    border: 1px solid rgba(37, 35, 35, 0.1);
    border-radius: 5px;
    background-color: #fff;
    position: relative;
}
.who-course-for-card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #e7e7e7;
    border-radius: 5px;
    top: 0;
    left: 0;
    z-index: -9;
    /* animation: bouncing 2s linear infinite; */
}
.who-course-for-card:hover::before{
    animation: bouncing 2s linear infinite; 
}
@keyframes bouncing {
   0% {
      transform: scale(1);
      opacity: 1;
    }
  
    100% {
      transform: scale(1.1, 1.2);
      opacity: 0;
    }
}
.who-course-for-card svg{
    height: 60px;
    width: 60px;

}
.who-course-for-card p{
    line-height: 30px;
    padding-top: 10px;
}
@media screen and (max-width: 575px) {
    .who-course-for-heading h2{
        font-size: 27px;
    }
    
}
/*Who Is This Course For End*/



